<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">

      <div class="card card-login">
        <div class="card-login-splash">
          <div class="wrapper">
            <h3>ACCOUNTS</h3>
            <a class="btn btn-secondary" href="/new">Sign Up</a>
          </div>
        </div>
        <div class="card-content">
          <span class="card-title">Log In</span>
           <%= form_for(:session, url: login_path) do |f| %> 
            <div class="input-field">
                <%= f.email_field :email, class: "form-control", :placeholder => "Email" %>
            </div>
            <div class="input-field">
                <%= f.password_field :password, class: "form-control", :placeholder => "Password" %> 
            </div>
            <br><br>
            <div>
              <%= f.submit "Log In", class: "btn btn-primary btn-lg" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>
