<h3> Comments</h3>
<% @post.comments.each do |comment| %>
    <div class="alert alert-secondary">
    <% if comment.user %> 
     <i><a ng-href="#"><%= comment.user.name %></a></i> posted <strong><%= time_ago_in_words(comment.created_at) %> ago </strong>
    <% end %>
    : <%= comment.body %>
    <% if current_user.id == comment.user.id || current_user.id == @post.user_id %>
    <%= link_to ' x ', [comment.post, comment],
                            class: 'close',
                            method: :delete,
                            data: { confirm: 'Are you sure'} %>
    <% end %>                   
    </div>
<% end %>