<div class="form-group">
<h3>Add comment</h3>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="form-group">
    <div class="col-sm-8">
      <%= f.text_area :body, rows: 3, class: "form-control", placeholder: "Please enter a comment", autofocus: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="center col-sm-offset-1 col-sm-10">
      <%= f.submit class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>
<div>