<div class="container">
 <%= form_for(@user, html: {multipart: true })  do |f|  %>
<div class="form-group has-success has-feedback">
    <h1>Edit Profile</h1>
</div>

 <div class="form-group has-success has-feedback">
    <%= f.label :name, class: "sr-only" %>
    <%= f.text_field(:name, class: "form-control", placeholder: "First Name") %>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
</div>

<div class="form-group has-success has-feedback">
    <%= f.label :surname, class: "sr-only" %>                  
    <%= f.text_field(:surname, class: "form-control", placeholder: "Last Name") %>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
</div>
<div class="padding">
<div class="form-group has-success has-feedback">
    <%= f.file_field :avatar %>
</div> 
</div>
<div class="modal-footer">
  <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
   <%= link_to 'Close', "/users/id", class: "btn btn-default", data: {dismiss: "modal"} %>
    </div>
  <% end %> 
</div>