<div class="container">
 <%= form_for :user,, html: {multipart: true }),url:users_path  do |f| %>

<div class="form-group has-success has-feedback">
    <h1>Sign Up</h1>
</div>

 <div class="form-group has-success has-feedback">
    <%= f.label :name, class: "sr-only" %>
    <%= f.text_field(:name, class: "form-control", placeholder: "First Name") %>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
</div>

<div class="form-group has-success has-feedback">
    <%= f.label :surname, class: "sr-only" %>                  
    <%= f.text_field(:surname, class: "form-control", placeholder: "Last Name") %>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
</div>

  <div class="form-group has-success has-feedback">
    <%= f.label :email, class: "sr-only" %>
    <%= f.text_field(:email, class: "form-control", placeholder: "Email") %>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
</div>

  <div class="form-group has-success has-feedback">
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field(:password, type: "password", class: "form-control", placeholder: "Password") %>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
  </div>

  <div class="form-group has-success has-feedback">
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field(:password, type: "password", class: "form-control", placeholder: "Confirm Password") %>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
</div>  
<div class="padding">
<div class="form-group has-success has-feedback">
    <%= f.file_field :avatar %>
</div> 
</div>
<div class="modal-footer">
  <%= link_to 'Close', "/", class: "btn btn-default", data: {dismiss: "modal"} %>
  <%= f.submit 'Register', class: 'btn btn-primary' %>
    </div>
  <% end %> 
</div>