<div class="container">
  <div class="col s12 m7">
    <h2 class="header">User Profile</h2>
    <div class="card horizontal">
    <div class="card-image"> 
       <%= image_tag current_user.avatar.url(:thumb) if current_user.avatar? %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
        <h5><%= current_user.name %><%= current_user.surname %></h5>
          <p>Email :<%= current_user.email %></p>
        </div>
        <div class="card-action">
         <%= link_to "Edit", edit_user_path(current_user),:class => 'btn btn-secondary'%>
        </div>
        <div class="clearfix">
        <a class="btn btn-primary float-left" href="/">Go Home →</a>
        </div>
      </div>
    </div>
  </div>
</div>
