<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
             <% @post.each do |post| %>
             <a href="/posts/1">
              <h2 class="post-title">
               <%= post.title %>
              </h2>
              <h3 class="post-subtitle">
                <%= post.body %>
              </h3>
            </a>
            <p class="post-meta">
            <% if post.user %> 
                posted by <a ng-href="#"><%= post.user.name %></a>
            <% end %>
            <%= time_ago_in_words(post.created_at) %> ago
            </p>
          </div>
           <% end %>
          <hr>
          <%# <%= link_to "Read More", post_path(post), :class => 'btn btn-secondary'%>
          <hr>
          <!-- Pager -->
          <div class="clearfix">
            <%= will_paginate @post  %>
          </div>
        </div>
      </div>
    </div>