<div class="container">
<%= form_for :post, url:posts_path do |f| %>
<h1>Add Post</h1>
    <div class="control-group">
    <div class="form-group floating-label-form-group controls">
        <%= f.label :title %>
        <%= f.text_field(:title, {:class => 'form-control',:placeholder =>"Post Title"}) %>
        <p class="help-block text-danger"></p>
    </div>
    </div>
    <div class="control-group">
    <div class="form-group floating-label-form-group controls">
        <%= f.label :body %>
        <%= f.text_area(:body, {:class => 'form-control',:placeholder =>"Post Body"}) %>
        <p class="help-block text-danger"></p>
    </div>
    </div>
    <br>
    <div id="success"></div>
    <div class="form-group">
    <%= f.submit({:class => 'btn btn-primary btn-lg'}) %>
    </div>
<% end %>
</div>