<div class="container">
<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<% if current_user.id == @post.user_id %> 
<hr>
<%= link_to "Edit",edit_post_path(@post),:class => 'btn btn-secondary' %>
<%= link_to "Delete",post_path(@post),
                            method: :Delete,
                            data: {confirm: 'Are you sure?'},
                            :class => 'btn btn-danger'%>
<hr>
<% end %>
<%= render 'comments/comments'%>
<%= render 'comments/form' %> 
</div>